@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
  
body {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background: #ebebeb;
    padding: 30px;
}

#testerToHello {
    max-width: 100px;
    max-height: 40px;
    background-color: pink;
    border-color: rgb(4, 70, 12);
    border-bottom-color: #FF738B;
    border-right-color: #FF738B;
}

#GithubButton, #LinkedInButton, #ResumeButton {
    max-width: 100px;
    max-height: 40px;
    font-family: "athelas", serif;
    background-color: pink;
    border-color: rgb(4, 70, 12);
    border-bottom-color: #FF738B;
    border-right-color: #FF738B;
    cursor: pointer;
}

.Major {
    display: flex;
    margin: 150px;
    margin-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 0 0 1px #cacaca, 0 0 0 4px #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Name {
    font-size: 55px;
    text-align: left;
    width: 300px;
    background: none;
    border: none;
    flex-grow: 1;
    font-family: "athelas", serif;
}

#ContactList {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}