/* @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes subtitleSlide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
} */
body {
    background: #ebebeb;
    padding: 30px;
}

#Nameplate {  
    /* This section calls the slideInFromLeft animation we defined above */
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
    font-size: 8em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;} */

/* #Subtitle1 {
    transform: translateX(-100%);
    animation: 1s ease-out 0s 1 subtitleSlide;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}
#Subtitle2 {
    transform: translateX(-100%);
    animation: 1s ease-out 0s 1 subtitleSlide;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}
#Subtitle3 {
    transform: translateX(-100%);
    animation: 1s ease-out 0s 1 subtitleSlide;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
} */