
body {
    box-shadow: 0 0 0 1px #cacaca, 0 0 0 4px #eee;
    margin: 15px;
    display: block;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}

html {
    line-height: 1.15;
    direction: ltr;
    display: block;
    padding-right: 5em;
    padding-left: 5em;
}

html, body {
    max-width: 80em;
    vertical-align: middle;
}

#About {
    display: flex;
    font-size: 18px;
}
#Para1{
    flex: 1;
}
#Photo1 {
    max-width: 65%;
    max-height: 65%;
}

#testerToHello {
    max-width: 100px;
    max-height: 40px;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgb(4, 70, 12);
    border-bottom-color: #FF738B;
    border-right-color: #FF738B;
}

#Header {
    display: flex;
}

#Name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    flex: 1;
}

#ContactList {
    flex: 0.3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 12px;
    
}