/* @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes subtitleSlide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
} */

@keyframes clicker {
    0% {
        box-shadow: inset 0 0 0 0 #ebebeb;
    }
    100% {
        box-shadow: inset 240px 0 0 0 #ebebeb;
    }
}

@keyframes out {
    from {
      box-shadow: inset -240px 0 0 0 #ebebeb;
    }
    to {
      box-shadow: inset 0 0 0 0 #ebebeb;
    }
  }

@media only screen and (max-width: 1200px) {
    #Nameplate {
        font-size: 5.5em;
    }
}
@media only screen and (min-width: 1200px) {
    #Nameplate {
        font-size: 8em;
    }
}

body {
    background: #ebebeb;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



#Nameplate {  
    /* This section calls the slideInFromLeft animation we defined above */
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
    font-family: "athelas", serif;
    font-weight: 600;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    user-select: none;
    cursor: default;
}


/* body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;} */

/* #Subtitle1 {
    transform: translateX(-100%);
    animation: 1s ease-out 0s 1 subtitleSlide;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}
#Subtitle2 {
    transform: translateX(-100%);
    animation: 1s ease-out 0s 1 subtitleSlide;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}
#Subtitle3 {
    transform: translateX(-100%);
    animation: 1s ease-out 0s 1 subtitleSlide;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
} */