@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

#headshot {
    max-width: 150px;
    max-height: auto;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 0 1px #cacaca, 0 0 0 4px #eee;
}

body {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
    background: #ebebeb;
    padding: 30px;
    align-items: center;
    text-align: center;
}

#header {
    padding: 0;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 0 0 1px #cacaca, 0 0 0 4px #eee; */
}

#GithubButton, #LinkedInButton, #ResumeButton {
    font-family: "athelas", serif;
    cursor: pointer;
    margin: 0;
    margin-top: 0px;
    height: 4.5vw;
    min-height: 40px;
    max-height: 50px;
    width: auto;
}

#ContactList {
    margin-top: 1vh;
    justify-content: center;
    display: flex;
    padding-bottom: 5vh;
}

#Aligner {
    width: 15vw;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
}

#Name {
    font-size: 55px;
    font-weight: 400;
    font-family: "athelas", serif;
    padding: 6px;
    margin: 4px;
    pointer-events: none;
}

#AboutContainer {
    margin-top: 1vh;
    justify-content: center;
    display: flex;
    padding-bottom: 5vh;
}

#About {
    width: 80vw;
    max-width: 1050px;
    justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
    #headshot {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #Name {
        margin-top: 2px;
        padding-top: 2px;
    }
    #header{
        display: block;
    }
}
@media only screen and (min-width: 1200px) {
    #Name {
        margin-top: 35px;
    }
}