@keyframes slideInFromBottom {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0);
    }
}

.Icon {
    cursor: pointer;
    margin: 0;
    margin-top: 0px;
    width: 4.5vw;
    min-width: 40px;
    max-width: 50px;
    height: auto;
}

#EmailButton {
    min-width: 35px;
    vertical-align: bottom;
    margin-top: 2vh
}


#headshot {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

body {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
    background: #ebebeb;
    padding: 30px;
    align-items: center;
    text-align: center;
    /* overflow: hidden; */
}

#header {
    padding: 0;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 0 0 1px #cacaca, 0 0 0 4px #eee; */
}

#About {
    width: 80vw;
    max-width: 800px;
}

#ContactList {
    width: 15vw;
    min-width: 150px;
    max-width: 260px;
    display: flex;
    justify-content: space-around;
}

.Container {
    margin-top: 1vh;
    justify-content: center;
    display: flex;
    padding-bottom: 5vh;
}

#Aligner {
    padding-bottom: 2vh;
}

#Name {
    font-size: 55px;
    font-weight: 400;
    font-family: "athelas", serif;
    padding: 6px;
    margin: 4px;
    pointer-events: none;
}
#Languages {
    width: 10ch;
    margin-right: 0;
    margin-left: 0;
}


#DaikinList {
    text-align: start;
    width: 70vw;
    margin: 0;
}

.List {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    width: 97ch;
}

h3 {
    margin-bottom: 1vh
}

.Blurb {
    margin-top: 1.5vh;
    margin-bottom: 4vh;
}

#Columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Column {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1200px) {
    #headshot {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #Name {
        margin-top: 2px;
        padding-top: 2px;
    }
    #header{
        display: block;
    }
    #About {
        font-size: 17px;
    }
}
@media only screen and (min-width: 1200px) {
    #Name {
        margin-top: 35px;
    }
    #About {
        font-size: calc(14px + 0.25vw)
    }
    #headshot {
        margin-top: 3.5vh;
    }
}